<div id="<%= dom_id book %>" class="box">
  <p class="title is-5">
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p class="subtitle is-6">
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= book.publication_year %>
  </p>

</div>
