<h1>Editing paper cost</h1>

<%= render "form", paper_cost: @paper_cost %>

<br>

<div>
  <%= link_to "Show this paper cost", @paper_cost %> |
  <%= link_to "Back to paper costs", paper_costs_path %>
</div>
