<div id="<%= dom_id carriage_cost %>">
  <p>
    <strong>Carriage rate per rim:</strong>
    <%= carriage_cost.carriage_rate_per_rim %>
  </p>

  <p>
    <strong>Carriage for paper:</strong>
    <%= carriage_cost.carriage_for_paper %>
  </p>

</div>
