<h1>Editing carriage cost</h1>

<%= render "form", carriage_cost: @carriage_cost %>

<br>

<div>
  <%= link_to "Show this carriage cost", @carriage_cost %> |
  <%= link_to "Back to carriage costs", carriage_costs_path %>
</div>
